body {
    /* height: 100vh; */
    background: rgb(210, 208, 206);
  }
  .app {
    display: flex;
    justify-content: center;
    margin-top: 10%;
    /* background-color: #e0a2e0; */
  }
  h3 {
    display: flex;
    justify-content: center;
    margin-top: 7%;
    position: absolute;
    z-index: 1;
  }
  #square-a {
    width: 100px;
    height: 100px;
    background-color: #ff0000;
    transition: transform 1s linear;
    transform-origin: top left;
    position: relative;
    z-index: 2;
  }
  #square-b {
    width: 100px;
    height: 100px;
    background-color: #0000ff;
    transition: transform 1s linear;
    transform-origin: bottom left;
    position: relative;
    z-index: 2;
  }
  #square-c {
    width: 100px;
    height: 100px;
    background-color: #ffff00;
    transition: transform 1s linear;
    transform-origin: top right;
    position: relative;
    z-index: 2;
  }
  #square-d {
    width: 100px;
    height: 100px;
    background-color: #007d00;
    transition: transform 1s linear;
    transform-origin: bottom right;
    position: relative;
    z-index: 2;
  }
  
  .app:hover #square-a {
    transform: rotate(90deg);
  }
  .app:hover #square-b {
    transform: rotate(-90deg);
  }
  .app:hover #square-c {
    transform: rotate(-90deg);
  }
  .app:hover #square-d {
    transform: rotate(90deg);
  }